logwatch:
  mailto: email@address.com

# iptables allowed ports
user-ports:
  ssh:
    chain: INPUT
    proto: tcp
    dport: 22
  salt-master:
    chain: INPUT
    proto: tcp
    dport: 4505
  salt-minion:
    chain: INPUT
    proto: tcp
    dport: 4506

# system paths to remobe write access from
user-paths:
  - /usr/local/sbin
  - /usr/local/bin
  - /usr/sbin
  - /usr/bin
  - /sbin
  - /bin

# SSH Settings
company: "Amazing Smoothies"
ssh_port: 2222
ssh_prot: 2
ssh_rootlogin: no
ssh_PasswordAuthentication: yes